<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470746849993-441n0ej6d4u4c4erki8373g04dh0hu3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470746849993-441n0ej6d4u4c4erki8373g04dh0hu3h</string>
	<key>API_KEY</key>
	<string>AIzaSyDtX8rgd_92mqHWaxhzcwia6gYPKHTy1Q8</string>
	<key>GCM_SENDER_ID</key>
	<string>470746849993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Phan-Nhat-Dang.Loan-Calculator</string>
	<key>PROJECT_ID</key>
	<string>loan-calculator-e2876</string>
	<key>STORAGE_BUCKET</key>
	<string>loan-calculator-e2876.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470746849993:ios:94b6f6eed72809672e6318</string>
</dict>
</plist>